**Variables: Variables which stores data**

In [4]:
x = 5  # integer
y = "Hello World"  # string
z = 3.14  # float

In [5]:
print(x)
print(y)
print(z)

5
Hello World
3.14

**List: Lists are mutable/changeable, ordered collections**

In [12]:
fruits = ["apple", "banana", "cherry"]

In [13]:
fruits.append("date")

In [14]:
print(fruits)

['apple', 'banana', 'cherry', 'date']

**Tuples:  Tuplesare immutable, ordered collections**

In [15]:
coordinates = (10, 20)

In [16]:
coordinates

(10, 20)

**Dictionaries: Dictionaries store key-value pairs**

In [17]:
person = {"name": "John", "age": 30}

In [18]:
person

{'name': 'John', 'age': 30}

**Sets:  Sets is unique, unordered elements**

In [19]:
unique_numbers = {1, 2, 3, 4, 5}

In [20]:
unique_numbers

{1, 2, 3, 4, 5}

**For loop: For loop iterate over collections**

In [21]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry
date

**Function: Functions define reusable code blocks**

In [23]:
def double_number(num):                 
    return num * 2

In [24]:
# Using the function
result = double_number(5)
print(result)

10

In [25]:
# Using it with a variable
x = 7
doubled_x = double_number(x)
print(doubled_x)

14

**If statements: control program flow based on conditions**

In [26]:
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

Positive